.container {
    padding: 3em 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

.container h3 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--amarelo-escuro);
    font-size: 24px;
}

.mesage {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .5em 1.5em 2em;
}

.mesage label {
    font-size: 20px;
    font-weight: 600;
}

.mesage textarea {
    padding: .5em 1em;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, .5);
    width: 100%;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.contatos p, .contatos h3 {
    display: flex;
    gap: .3em;
    margin-left: 150px;
}

.icone {
    font-size: 1.5em;
    margin-right: .1em;
    background-color: var(--amarelo-claro);
    padding: .15em;
    border-radius: 16px;
}

.contatos span {
    font-weight: 500;
}

@media (max-width: 1260px) {
    .container {
        padding: 3em 7.5em;
    }

    .contatos p, .contatos h3 {
        margin-left: 100px;
    }
}

@media (max-width: 1060px) {
    .container {
        padding: 3em 5em;
    }
}

@media (max-width: 950px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .container form {
        padding: 0 3em;
    }

    .contatos {
        align-self: center;
    }
    
    .contatos p, .contatos h3 {
        margin-left: 0;
    }
}